*.json
*.env
*.jpg
*.jpeg
*.png
*.zip
*.mp3
*.pyc
*.csv
miscellaneous/
tasks/task_6/przesluchania/
tasks/task_6/translations/
tasks/task_9/pliki_z_fabryki/
tasks/task_10/article.html
tasks/task_10/arxiv.txt
tasks/task_10/GPT_markdown_script.md
tasks/task_10/modified_markdown_script.md
tasks/task_10/original_prompt.txt
tasks/task_10/questions_prompt.txt
tasks/task_11/pliki_z_fabryki/
tasks/task_12/pliki_z_fabryki/
tasks/qdrant_storage/
tasks/task_13/GPT_response.txt